<h2>Contato</h2>
<div>
    <address>
        Lucas Lima Fonseca<br />
        Rua Cisne, 279, Jardim Algarve - Alvorada, RS<br />
        <abbr title="Phone">Celular:</abbr>
        8154 7550
    </address>

    <address>
        <i class="icon-envelope"></i><strong> E-mail:</strong><a href="mailto:lucaslimafons@gmail.com">lucaslimafons@gmail.com</a>
    </address>
</div>

<div class="row">
    <div class="form-actions text-right">
        <button onclick='window.location="@Url.Action("Index", "Home")";' class="btn btn-large palette palette-sun-flower">Voltar</button>
    </div>
</div>

